{% extends 'base2.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}

  <a href="{{ path('test2') }}" class="pouet">Changer de page</a>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Deuxieme page</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
  </div>

{% endblock %}
