body {
    background-color: #2c3141;
}

body::after, body::before {
    /* these are the 2 half blocks which cover the content once the animation is triggered */
    content: '';
    background-color: white;
    height: 50vh;
    width: 100%;
    position: fixed;
    left: 0;
    transition:  0.4s 0.4s;
}
body::before {
    top: 0;
    transform: translateY(-100%);
}
body::after {
    bottom: 0;
    transform: translateY(100%);
}


main .cd-main-content > div {
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    transition: transform 0.4s 0s;
}
body.page-is-changing::after, body.page-is-changing::before {
    transform: translateY(0);
    transition: transform 0.4s 0s;
}

.cd-cover-layer {
    /* layer that covers the content when the animation is triggered */
    position: fixed;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translateX(-50%) translateY(-50%);
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    opacity: 0;
    visibility: hidden;
    background-color: #4089a6;
    transition: opacity 0.4s 0.4s, visibility 0s 0.8s;
}

.cd-main-content {
    height: calc(100vh - 20px);
    transition: 0.4s 0s;
}
.cd-loading-bar {
    /* this is the loding bar - visible while switching from one page to the following one */
    position: fixed;
    z-index: 4;
    left: 50%;
    top: 50%;
    height: 2px;
    width: 90%;
    background-color: #4089a6;
    visibility: hidden;
    transform: translateX(-50%) translateY(-50%);
    transition: visibility 0s 0.4s, transform 0.4s 0s ease-in;
}

.cd-loading-bar::before {
    /* this is the progress bar inside the loading bar */
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #283040;
    backface-visibility: hidden;
    transform: translateZ(0), ;
    transform: scaleX(0);
    transform-origin: left center;
}
.page-is-changing .cd-loading-bar {
    visibility: visible;
    transform: translateX(-50%) translateY(-50%) scaleX(0.3);
    transition: visibility 0s 0.3s, transform 0.4s 0.4s;
}
.page-is-changing .cd-loading-bar::before {
    transform: scaleX(1);
    transition: transform 0.8s 0.8s ease-in;
}